@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600|Quattrocento+Sans:400,700');

$primary-font: 'Quattrocento Sans', monospace;
$secondary-font: 'Crimson Text', sans-serif;

$black: rgb(46,50,52);
$white: #fff;
$purple: #533b9a;
$black-2: #2b303e;
