@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Rubik:400,600');

$primary-font: 'Roboto Mono', monospace;
$secondary-font: 'Rubik', sans-serif;

$black: rgb(46,50,52);
$white: #fff;
$purple: #533b9a;
$black-2: #2b303e;
