/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+bash+css-extras+git+http+json+sass+scss&plugins=toolbar+copy-to-clipboard */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,600|Quattrocento+Sans:400,700,900");
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

pre.code-toolbar {
  position: relative; }

pre.code-toolbar > .toolbar {
  position: absolute;
  top: .3em;
  right: .2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; }

pre.code-toolbar:hover > .toolbar {
  opacity: 1; }

pre.code-toolbar > .toolbar .toolbar-item {
  display: inline-block; }

pre.code-toolbar > .toolbar a {
  cursor: pointer; }

pre.code-toolbar > .toolbar button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

pre.code-toolbar > .toolbar a,
pre.code-toolbar > .toolbar button,
pre.code-toolbar > .toolbar span {
  color: #bbb;
  font-size: .8em;
  padding: 0 .5em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: .5em; }

pre.code-toolbar > .toolbar a:hover,
pre.code-toolbar > .toolbar a:focus,
pre.code-toolbar > .toolbar button:hover,
pre.code-toolbar > .toolbar button:focus,
pre.code-toolbar > .toolbar span:hover,
pre.code-toolbar > .toolbar span:focus {
  color: inherit;
  text-decoration: none; }

body {
  font-family: "Quattrocento Sans", monospace !important; }

@media (min-width: 992px) {
  .container {
    max-width: 900px !important; } }
.btn {
  background: #5F80E1;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-size: .6rem;
  font-family: "Quattrocento Sans", monospace;
  font-weight: 700;
  padding: .5rem 1.5rem; }
  .btn:hover {
    color: #5F80E1;
    background: #fff; }

.subheading {
  font-family: "Crimson Text", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #7B7A7A;
  margin: 0 0 2rem 0; }

section {
  padding: 3rem 0; }

.navbar {
  margin-bottom: 50px;
  border: 1px solid rgba(151, 151, 151, 0.46); }

.navbar-header {
  /* JAKZ AIZZAT: */ }
  .navbar-header a {
    color: #5F80E1;
    font-family: "Quattrocento Sans", monospace;
    font-weight: 900;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 1.11px; }

.hero {
  font-family: "Crimson Text", sans-serif; }
  .hero img {
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto; }
  .hero h1, .hero h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #201E1C;
    line-height: 24px; }
  .hero p {
    font-size: .7rem;
    color: #424140;
    letter-spacing: 1px;
    margin: 1.4rem 0; }
  .hero .hero-content {
    padding: 0 0 0 3rem; }
    @media (max-width: 770px) {
      .hero .hero-content {
        padding: 3rem 0 0 0; } }

#works .single-work {
  position: relative;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  text-align: center;
  height: 150px;
  margin: 2rem 0;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }
  #works .single-work p {
    display: none;
    color: #fff; }
  #works .single-work:hover {
    transform: translateY(-2px); }
    #works .single-work:hover p {
      display: block; }

.work-jetpack {
  background-image: url("../image/work/jetpack.jpg"); }

.work-accorp {
  background-image: url("../image/work/accorp.jpg"); }

.work-tsheurope {
  background-image: url("../image/work/tsheurope.jpg"); }

.work-ohana {
  background-image: url("../image/work/ohana.jpg"); }

.work-epalvalley {
  background-image: url("../image/work/epalvalley.png"); }

.work-archinext {
  background-image: url("../image/work/archinext.png"); }

.work-pizzaro {
  background-image: url("../image/work/pizzaro.png"); }

#testimonial .single-testimonial {
  background: #CB6B93;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 25px 10px; }
  #testimonial .single-testimonial .testimonial-user {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #fff;
    display: block;
    margin: 0 0 0 auto; }
    @media (max-width: 576px) {
      #testimonial .single-testimonial .testimonial-user {
        margin: 0 auto; } }
  #testimonial .single-testimonial .testimonial-content {
    font-size: 1rem;
    color: #fff;
    line-height: 1;
    margin: 20px 0; }
    @media (max-width: 576px) {
      #testimonial .single-testimonial .testimonial-content {
        text-align: center; } }
    #testimonial .single-testimonial .testimonial-content p {
      margin: 0 0 5px 0;
      font-weight: 700; }
    #testimonial .single-testimonial .testimonial-content span {
      font-size: .9rem; }

#brand img {
  max-height: 50px;
  width: auto;
  background-size: cover; }

#cta {
  margin: 2rem 0; }
  #cta .cta-content {
    padding: 25px 30px;
    background: #fff;
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px; }
    #cta .cta-content h3 {
      font-size: 1rem;
      /* Have a project in mi: */
      font-family: "Quattrocento Sans", monospace;
      font-weight: 700;
      color: #424140; }
    #cta .cta-content p {
      /* Would love to discus: */
      font-family: "Quattrocento Sans", monospace;
      font-size: .8rem;
      color: #424140; }

#cta .cta-profile img {
  max-width: 100px;
  height: auto;
  margin: 0 10px 0 auto;
  display: block; }
#cta .cta-detail svg {
  margin-right: 10px; }

.article {
  color: #2e3234;
  margin-bottom: 20px; }
  .article a.article-title {
    font-size: 2rem;
    color: #2e3234;
    font-weight: 600;
    border-bottom: 3px solid #533b9a; }
  .article a:hover {
    text-decoration: none;
    background: #533b9a;
    color: #fff; }
  .article .article-date {
    display: block;
    color: rgba(46, 50, 52, 0.8); }

.single-blog-title h1 {
  font-family: "Crimson Text", sans-serif;
  font-weight: 600; }
.single-blog-title h5 {
  color: rgba(46, 50, 52, 0.8); }
.single-blog-title span.date {
  color: rgba(46, 50, 52, 0.8); }

.single-blog-content {
  margin: 50px 0 0; }
  .single-blog-content h1, .single-blog-content h2, .single-blog-content h3, .single-blog-content h4, .single-blog-content h5, .single-blog-content h6 {
    border-bottom: 5px solid rgba(83, 59, 154, 0.8);
    padding: 5px 0; }
  .single-blog-content h1, .single-blog-content h2, .single-blog-content h3 {
    font-family: "Crimson Text", sans-serif;
    margin: 3rem 0 1.5rem;
    font-weight: 600; }
  .single-blog-content p {
    margin: 1rem 0; }
  .single-blog-content h1 {
    font-size: 2rem; }
  .single-blog-content h2 {
    font-size: 1.5rem; }
  .single-blog-content img {
    display: block;
    margin: 30px auto;
    max-width: 100%;
    border: 1px solid rgba(46, 50, 52, 0.4); }

.single-blog-link {
  margin: 50px 0; }

footer {
  background: #2b303e;
  padding: 50px 0;
  margin-top: 100px; }
  footer .navbar-header a {
    color: #fff;
    display: block;
    text-align: center; }
  footer .footer-text {
    color: #fff;
    text-align: center; }
    footer .footer-text a {
      font-weight: 600; }

/*# sourceMappingURL=style.css.map */
