@import 'prim';
@import 'variable';
body {
    font-family: $primary-font !important;
}

@media(min-width: 992px) {
    .container {
        max-width: 900px !important;
    }
}

// Components
.btn {
    background: #5F80E1;
    border-radius: 30px;
    color: $white;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: $primary-font;
    font-weight: 700;
    padding: .8rem 1.8rem;
    border: 1px solid #5F80E1;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .15);
    background-image: linear-gradient(90deg, #4E6ABB 0%, #5F80E1 98%);
    border-color: transparent;
    &:hover {
        // color: #5F80E1; // background: $white;
        color: $white;
        transform: translateY(-2px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, .25);
    }
}

.subheading {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 2rem;
    text-shadow: 0 10px 20px rgba(0, 0, 0, .25);
    color: #201E1C;
    margin: 0 0 3rem 0;
}

section {
    padding: 4rem 0;
}

// Navbar
.navbar {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(151, 151, 151, 0.46);
    position: relative;
    .navbar-gradient {
        height: 6px;
        width: 100%;
        background-image: linear-gradient(90deg, #4E6ABB 0%, #5F80E1 98%);
        position: absolute;
        top: 0;
        left: 0;
    }
    .navbar-toggler {
        i {
            color: #5F80E1;
        }
    }
    .nav-item {
        padding: 20px;
        letter-spacing: 1.2px;
        color: #CB6B93;
    }
    .navbar-collapse {
        .navbar-nav {
            display: block;
            margin: 0 0 0 auto;
            font-size: .9rem;
            opacity: .8;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.navbar-header {
    a {
        color: $blue;
        font-family: $primary-font;
        font-weight: 600;
        font-size: 1.3rem;
        text-transform: uppercase;
        letter-spacing: 1.11px;
    }
    /* JAKZ AIZZAT: */
}

// Homepage
.hero {
    font-family: $secondary-font;
    img {
        background-repeat: no-repeat;
        display: block;
        margin: 0 auto;
    }
    h1,
    h2 {
        font-size: 2rem;
        font-weight: 600;
        color: #201E1C;
        line-height: 1.5;
    }
    h2 {
        font-size: 1.5;
        font-weight: 300;
        margin-bottom: 20px;
    }
    p {
        font-size: .7rem;
        color: #424140;
        margin: 1.4rem 0;
        font-family: $primary-font;
    }
    .hero-content {
        padding: 0 0 0 3rem;
        @media(max-width: 770px) {
            padding: 3rem 0 0 0;
        }
    }
}

// Work
#works {
    .single-work {
        // background: #D8D8D8;
        position: relative;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.17);
        border-radius: 5px;
        text-align: center;
        height: 150px;
        margin: 2rem 0;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .8s cubic-bezier(.2, 1, .2, 1);
        h3 {
            // display: none;
            color: $white;
            text-shadow: 0 10px 20px rgba(0, 0, 0, .5);
            font-size: 1.3rem;
            font-weight: 600;
            position: absolute;
            top: 20px;
            left: 20px;
        }
        p {
            color: hsla(0, 0%, 100%, .8);
            font-size: 1rem;
            position: absolute;
            bottom: 10px;
            left: 20px;
        }
        &:hover {
            transform: scale(1.048) translateY(-5px);

            p {
                display: block;
            }
        }
        &:before {
            background: rgba(0, 0, 0, .5);
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            border-radius: 5px;
        }
    }
}

.work-jetpack {
    background-image: url('../image/work/jetpack.jpg');
}

.work-accorp {
    background-image: url('../image/work/accorp.jpg');
}

.work-tsheurope {
    background-image: url('../image/work/tsheurope.jpg');
}

.work-ohana {
    background-image: url('../image/work/ohana.jpg');
}

.work-epalvalley {
    background-image: url('../image/work/epalvalley.png');
}

.work-archinext {
    background-image: url('../image/work/archinext.png');
}

.work-pizzaro {
    background-image: url('../image/work/pizzaro.png');
}

#testimonial {
    .single-testimonial {
        background: #CB6B93;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
        border-radius: 5px;
        padding: 25px 10px;
        .testimonial-user {
            height: 100px;
            width: 100px;
            border-radius: 60%;
            display: block;
            margin: 0 0 0 auto;
            @media(max-width: 576px) {
                margin: 0 auto;
            }
        }
        .testimonial-content {
            font-size: 1rem;
            color: $white;
            line-height: 1;
            margin: 20px 0;
            @media(max-width: 576px) {
                text-align: center;
            }
            p {
                margin: 0 0 5px 0;
                font-weight: 700;
            }
            span {
                font-size: .9rem;
            }
        }
    }
}

#brand {
    .col {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-height: 80px;
            width: auto;
            background-size: cover;
            filter: grayscale(100%);
            &:hover {
                filter: grayscale(0);
            }
        }
    }
}

#cta {
    margin: 2rem 0;
    .cta-content {
        padding: 25px 30px;
        background: $white;
        box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.10);
        border-radius: 5px;
        h3 {
            font-size: 2rem;
            /* Have a project in mi: */
            font-family: $primary-font;
            font-weight: 700;
            color: #424140;
            letter-spacing: 1px;
        }
        p {
            /* Would love to discus: */
            font-family: $primary-font;
            font-size: 1rem;
            color: #888;
        }
    }
}


#cta {
    .cta-content {
        display: flex;
        align-items: center;
        @media(max-width: 450px) {
            flex-direction: column;
        }
        .cta-profile {
            flex: 1 1 30%;
            img {
                max-width: 150px;
                display: block;
                margin: 0 0 0 auto;
            }
        }
        .cta-detail {
            padding: 20px 0 0 50px;
            flex: 1 1 70%;
            @media(max-width: 450px) {
                padding: 20px 0 0 10px;
            }
        }
    }
}

// Homepage Article
.article {
    color: $black;
    margin-bottom: 20px;
    a.article-title {
        font-size: 2rem;
        color: $black;
        font-weight: 600;
        border-bottom: 3px solid $blue;
    }
    a:hover {
        text-decoration: none;
        background: $blue;
        color: $white;
    }
    .article-date {
        display: block;
        color: rgba($black, .8);
    }
}

// Single Article
.single-blog-title {
    h1 {
        font-family: $secondary-font;
        font-weight: 600;
    }
    h5 {
        color: rgba($black, .8);
    }
    span.date {
        color: rgba($black, .8);
    }
}

.single-blog-content {
    margin: 50px 0 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        border-bottom: 5px solid rgba($blue, .8);
        padding: 5px 0;
    }
    h1,
    h2,
    h3 {
        font-family: $secondary-font;
        margin: 3rem 0 1.5rem;
        font-weight: 600;
    }
    p {
        font-size: 1.25rem;
        line-height: 1.5;
        margin: 1.25rem 0;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    img {
        display: block;
        margin: 30px auto;
        max-width: 100%;
        border: 1px solid rgba($black, .4);
    }
    sub {
        display: block;
        margin: 0 auto;
        bottom: 15px;
        text-align: center;
        font-style: italic;
    }
    blockquote {
        font-size: 1.3rem;
        border-left: 5px solid #CB6B93;
        padding: 0 0 0 20px;
    }
}

.single-blog-link {
    margin: 50px 0;
}


// Footer
footer {
    background: #3F4E66;
    padding: 30px 0 0;
    margin-top: 100px;
    .navbar-header {
        a {
            color: $white;
            display: block;
            text-align: center;
        }
    }
    .footer-social {
        border-top: 1px solid rgba($white, .2);
        border-bottom: 1px solid rgba($white, .2);
        padding: 30px 20px 30px;
        margin-bottom: 30px;
        img {
            max-width: 1.5rem;
        }
        i {
            color: $white;
            font-size: 1.5rem;
            display: block;
            text-align: center;
        }
    }
    .footer-text {
        color: $white;
        text-align: center;
        a {
            font-weight: 600;
        }
    }
}
































































/** Social Share Button**/

#social-share {
    position: relative;
    top: -0.5em;
    margin-top: 3rem;
}

#social-share ul {
    margin: 0;
    padding: 0;
    display: flex;
    li {
        list-style-type: none;
        flex: 1 1 25%;
    }
}

#social-share ul li p {
    display: none;
}

#social-share .icons li {
    padding: 0 !important;
    padding-bottom: 10px !important;
    margin: 0 5px;
}



#social-share .share-btn {
    padding: 0.5em;
    width: 100%;
}

#social-share-nav .share-btn h3 {
    color: #ffffff;
}

.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    outline: none;
    text-align: center;
    text-decoration: none;
}

.share-btn:hover {
    color: #ffffff !important;
}

.share-btn:active {
    position: relative;
    top: 2px;
    box-shadow: none;
    color: #e2e2e2;
    outline: none;
}

.share-btn.twitter {
    background: #55acee;
}

.share-btn.google-plus {
    background: #dd4b39;
}

.share-btn.facebook {
    background: #3B5998;
}

.share-btn.linkedin {
    background: #4875B4;
}

.share-btn.stumbleupon {
    background: #EB4823;
}

.share-btn.pinterest {
    background: #BD081C;
}

.share-btn.reddit {
    background: #ff5700;
}

.share-btn.email {
    background: #444444;
}

.share-btn.twitter:hover {
    background: #4c9ad6;
}

.share-btn.google-plus:hover {
    background: #c64333;
}

.share-btn.facebook:hover {
    background: #2f4779;
}

.share-btn.linkedin:hover {
    background: #4069a2;
}

.share-btn.stumbleupon:hover {
    background: #d3401f;
}

.share-btn.pinterest:hover {
    background: #AD0000;
}

.share-btn.reddit:hover {
    background: #e54e00;
}

.share-btn.email:hover {
    background: #363636;
}