<title>
    {{ .Title }} -- Jakz Aizzat - Freelance Front-end & WordPress Developer</title>
<meta name="description" content="Freelance Front-end & WordPress Developer.Based in Malaysia 🇲🇾 .">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/img/favicons/manifest.json">
<link rel="mask-icon" href="/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<meta property="og:url" content="https://jakzaizzat.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Jakz Aizzat - Freelance Front-end & WordPress Developer">
<meta property="og:image" content="https://jakzaizzat.com/image/social.png">
<meta property="og:description" content="Jakz Aizzat - Freelance Front-end & WordPress Developer. Based in Malaysia 🇲🇾.">
<meta property="og:site_name" content="Jakz Aizzat - Freelance Front-end & WordPress Developer.">
<meta property="og:locale" content="en_GB">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content=" @jakzaizzat">
<meta name="twitter:creator" content=" @jakzaizzat">
<meta name="twitter:url" content="https://jakzaizzat.com">
<meta name="twitter:title" content="Jakz Aizzat - Freelance Front-end & WordPress Developer.">
<meta name="twitter:description" content="Jakz Aizzat - Freelance Front-end & WordPress Developer. Based in Malaysia 🇲🇾 .">
<meta name="twitter:image" content="https://jakzaizzat.com/image/social.png">
<meta itemprop="name" content="Jakz Aizzat - Freelance Front-end & WordPress Developer">
<meta itemprop="description" content="Jakz Aizzat - Freelance Front-end & WordPress Developer. Based in Malaysia 🇲🇾 .">
<meta itemprop="image" content="https://jakzaizzat.com/image/social.png">
<link rel="canonical" href="https://jakzaizzat.com" />
<meta name="robots" content="index,follow,noodp">
<meta name="googlebot" content="index,follow">
<meta name="format-detection" content="telephone=no">