{{ partial "header.html" . }}
<section>
    <div class="container">
        <div class="row hero align-items-center">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <img src="{{ .Site.BaseURL }}image/working.svg">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 hero-content">
                <h1>Hi. I’m Aizzat, a Freelance front-end developer.</h1>
                <h2>I share my passion for web design and personal stuff on this website. </h2>
                <a href="mailto:hi@epalvalley.com" class="btn">Get Quotation</a>
                <!-- 
            <a href="mailto:hi@epalvalley.com" class="btn">contact</a> -->
            </div>
        </div>
    </div>
</section>
<section id="works">
    <div class="container">
        <h3 class="subheading text-center">Previous Works</h3>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <a href="http://kualalumpur.jetpack.my" target="_blank">
                    <div class="single-work work-jetpack">
                        <h3>Jetpack</h3>
                        <p>WordPress Development</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <a href="http://accorp.com.sg" target="_blank">
                    <div class="single-work work-accorp">
                        <h3>Accorp</h3>
                        <p>WordPress Development</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <a href="http://tsheurope.com" target="_blank">
                    <div class="single-work work-tsheurope">
                        <h3>Tsheurope</h3>
                        <p>WordPress Development</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <a href="http://ohanachina.com" target="_blank">
                    <div class="single-work work-ohana">
                        <h3>Ohana</h3>
                        <p>WordPress Development</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <a href="https://jakzaizzat.github.io/ArchiNext/" target="_blank">
                    <div class="single-work work-archinext">
                        <h3>ArchiNext</h3>
                        <p>WordPress Development</p>
                    </div>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <a href="https://jakzaizzat.github.io/Pizzaro/" target="_blank">
                    <div class="single-work work-pizzaro">
                        <h3>Pizzaro</h3>
                        <p>WordPress Development</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="testimonial">
    <div class="container">
        <h3 class="subheading text-center">What People Say</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="single-testimonial">
                    <div class="row align-items-center">
                        <div class="col-xs-4 col-sm-4 col-md-4">
                            <div class="testimonial-user">
                                <img src="../image/testimonial/iskandar.jpg" class="img-fluid rounded-circle">
                            </div>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8">
                            <div class="testimonial-content">
                                <p>His communication and work ethics commendable.</p>
                                <span>Iskandar, Founder JetPack</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="brand">
    <div class="container">
        <h3 class="subheading text-center">Brand I'm Working With</h3>
        <div class="row">
            <div class="col">
                <img src="../image/brand/jetpack.png" class="img-fluid">
            </div>
            <div class="col">
                <img src="../image/brand/accorp.png" class="img-fluid">
            </div>
            <div class="col">
                <img src="../image/brand/luxsys.png" class="img-fluid">
            </div>
            <div class="col">
                <img src="../image/brand/ohana.png" class="img-fluid">
            </div>
            <div class="col">
                <img src="../image/brand/tsheurope.png" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<section id="cta">
    <div class="container">
        <div class="cta-content">
            <div class="cta-profile">
                <img src="../image/aizzat.jpg" class="img-fluid rounded-circle">
            </div>
            <div class="cta-detail">
                <h3>Ready to get your project started?</h3>
                <p>I would LOVE to hear what you have in mind!</p>
                <a href="mailto:hi@epalvalley.com" class="btn">Contact</a>
            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}