{{ partial "header.html" . }}

<section>
<div class="container">
	<div class="row hero align-items-center">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<img src="{{ .Site.BaseURL }}image/working.svg">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 hero-content">
			<h1>I’m Aizzat, Freelance front-end developer.</h1>
			<h2>I share my passion for web design and personal stuff in this website. </h2>
			<p>I’m currently open for freelance jobs for next month (December)</p>
			<a href="mailto:hi@epalvalley.com" class="btn">contact</a>
		</div>
	</div>
</div>
</section>
<section id="works">
	<div class="container">
		<h3 class="subheading text-center">Previous Works</h3>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
				<a href="http://kualalumpur.jetpack.my" target="_blank">
					<div class="single-work work-jetpack">
						<p>Jetpack</p>
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
				<a href="http://accorp.com.sg" target="_blank">
					<div class="single-work work-accorp">
						<p>Accorp</p>
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
				<a href="http://tsheurope.com" target="_blank">
					<div class="single-work work-tsheurope">
						<p>Tsheurope</p>
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
				<a href="http://ohanachina.com" target="_blank">
					<div class="single-work work-ohana">
						<p>Ohana</p>
					</div>
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
				<a href="https://jakzaizzat.github.io/ArchiNext/" target="_blank">
					<div class="single-work work-archinext">
						<p>ArchiNext</p>
					</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
				<a href="https://jakzaizzat.github.io/Pizzaro/" target="_blank">
					<div class="single-work work-pizzaro">
						<p>Pizzaro</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>

<section id="testimonial">
	<div class="container">
		<h3 class="subheading text-center">What People Say</h3>
		<div class="row">
			<div class="col-md-12">
				<div class="single-testimonial">
					<div class="row align-items-center">
						<div class="col-xs-4 col-sm-4 col-md-4">
							<div class="testimonial-user">
								<img src="../image/testimonial/iskandar.jpg" class="img-fluid rounded-circle">
							</div>
						</div>
						<div class="col-xs-8 col-sm-8 col-md-8">
							<div class="testimonial-content">
								<p>His communication and work ethics commendable.</p>
								<span>Iskandar, Founder JetPack</span>
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="brand">
	<div class="container">
		<h3 class="subheading text-center">Brand I'm Working With</h3>
		<div class="row">
			<div class="col">
				<img src="../image/brand/jetpack.png" class="img-fluid">
			</div>
			<div class="col">
				<img src="../image/brand/accorp.png" class="img-fluid">
			</div>
			<div class="col">
				<img src="../image/brand/luxsys.png" class="img-fluid">
			</div>
			<div class="col">
				<img src="../image/brand/ohana.png" class="img-fluid">
			</div>
			<div class="col">
				<img src="../image/brand/tsheurope.png" class="img-fluid">
			</div>
		</div>
	</div>
</section>

<!-- <section id="cta">
	<div class="container">
		<div class="row">
			<div class="col-md-12 cta-content">
				<div class="row">
					<div class="col-xs-4 col-sm-4 col-md-4 cta-profile">
						<img src="../image/aizzat.jpg" class="img-fluid rounded-circle">
					</div>
					<div class="col-xs-8 col-sm-8 col-md-8 cta-detail">
						<h3>Have a project in mind?</h3>
						<p>Would love to discuss with you.</p>
						<a href="#" class="btn"> 
<svg width="12px" height="12px" viewBox="0 0 12 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Desktop" transform="translate(-457.000000, -1479.000000)" fill-rule="nonzero" fill="#FFFFFF">
            <g id="Btn" transform="translate(428.000000, 1470.000000)">
                <g id="noun_767180_cc" transform="translate(29.000000, 9.000000)">
                    <g id="Group">
                        <g id="Shape">
                            <g>
                                <path d="M11,8.5 L7,8.5 L5,8.5 L5,5 C5,4.841 4.9815,4.687 4.953,4.5365 C4.944,4.4885 4.9295,4.4425 4.9175,4.3955 C4.892,4.294 4.8625,4.195 4.8255,4.099 C4.8055,4.048 4.784,3.999 4.761,3.95 C4.719,3.86 4.6715,3.7735 4.6195,3.69 C4.5925,3.6465 4.567,3.6025 4.5375,3.561 C4.5235,3.5415 4.513,3.519 4.499,3.5 L9.9345,3.5 C10.522,3.5 11,3.978 11,4.5655 L11,8.5 Z M5.5,11 L6.5,11 L6.5,9.5 L5.5,9.5 L5.5,11 Z M9.9345,2.5 L6.5,2.5 L6.5,0.5 C6.5,0.224 6.276,0 6,0 C5.724,0 5.5,0.224 5.5,0.5 L5.5,2.5 L2.5,2.5 C1.1215,2.5 0,3.6215 0,5 L0,9 C0,9.276 0.224,9.5 0.5,9.5 L4.5,9.5 L4.5,11.5 C4.5,11.776 4.724,12 5,12 L7,12 C7.276,12 7.5,11.776 7.5,11.5 L7.5,9.5 L11.5,9.5 C11.7765,9.5 12,9.276 12,9 L12,4.5655 C12,3.427 11.073,2.5 9.9345,2.5 L9.9345,2.5 Z"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg> Email Me</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<section id="cta">
	<div class="container">
		<div class="cta-content">
			<div class="cta-profile">
				<img src="../image/aizzat.jpg" class="img-fluid rounded-circle">
			</div>
			<div class="cta-detail">
				<h3>Ready to get your project started?</h3>
				<p>I would LOVE to hear what you have in mind!</p>
				<a href="mailto:hi@epalvalley.com" class="btn">Contact</a>
			</div>
		</div>
	</div>
</section>

{{ partial "footer.html" . }}
